.product {
    width: 332px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0px 4px 50px 0px #788F9C40;
    margin: 0 auto;
}

.product img {
    margin-top: 40px;
}

.product-btn {
    border-radius: 18px;
    color: #75CCEB;
    border: 3px solid #75CCEB;
    background: inherit;
    transition: 0.2s ease-in-out;
}

.large-btn{
    width: 180px;
    height: 56px;
}

.small-btn{
    width: 138px;
    height: 48px;
}

.product-btn:hover {
    color: #fff;
    background: linear-gradient(90deg, #75CCEB 0%, #6FB4FF 100%);
}